<details id="<%= commit.sha %>" class="row" x-bind:open="open">
  <summary class="summary <%= commit.kind %>">
    <img src="https://alchemists.io/images/projects/milestoner/icons/<%= commit.icon %>.png"
         alt="<%= commit.kind %>"
         class="icon"
         width="24"
         height="24"
         loading="lazy">

    <span class="subject"><%= commit.subject %></span>

    <a href="<%= commit.author.profile_url %>" class="author">
      <%= render :avatar, user: commit.author %>
    </a>

    <a href="<%= commit.uri %>" class="files"><%= commit.files_changed %></a>

    <span class="lines">
      <span class="deletions"><%= commit.total_deletions %></span>
      <span class="delimiter">/</span>
      <span class="insertions"><%= commit.total_insertions %></span>
    </span>

    <a href="<%= commit.issue.uri %>" class="issue"><%= commit.issue.id %></a>
    <a href="<%= commit.review.uri %>" class="review"><%= commit.review.id %></a>
  </summary>

  <div class="details">
    <div class="tag <%= commit.tag %>"><%= commit.tag %></div>

    <div class="message">
      <h1 class="bar">Message</h1>
      <div class="content">
        <%= scope(:content, content: commit.safe_body).call %>
      </div>
    </div>

    <div class="notes">
      <h2 class="bar">Notes</h2>
      <div class="content">
        <%= scope(:content, content: commit.safe_notes).call %>
      </div>
    </div>

    <div class="info">
      <h2 class="bar">Info</h2>

      <div class="panel">
        <h3 class="label">Author</h3>
        <p class="line"><%= render :user, user: commit.author %></p>

        <h3 class="label">Collaborators</h3>
        <%= scope(:users, users: commit.collaborators).call %>

        <h3 class="label">Signers</h3>
        <%= scope(:users, users: commit.signers).call %>

        <h3 class="label">Signature</h3>

        <button class="button line <%= commit.security %>" popovertarget="<%= commit.popover_id %>">
          <span class="signature"><%= commit.signature_label %></span>
        </button>

        <dialog id="<%= commit.popover_id %>" class="popover <%= commit.security %>" popover="auto">
          <h2 class="sublabel">SHA</h2>
          <pre><%= commit.sha %></pre>

          <h2 class="sublabel">Fingerprint</h2>
          <pre><%= commit.fingerprint %></pre>

          <h2 class="sublabel">Fingerprint Primary Key</h2>
          <pre><%= commit.fingerprint_key %></pre>
          </p>
        </dialog>

        <h3 class="label">Created</h3>

        <p class="line at">
          <time datetime="<%= commit.created_at_machine %>"><%= commit.created_at_human %></time>
        </p>

        <h3 class="label">Updated</h3>

        <p class="line at">
          <time datetime="<%= commit.updated_at_machine %>"><%= commit.updated_at_human %></time>
        </p>
      </div>
    </div>
  </div>
</details>
