<details>
  <summary style="display: inline-flex; align-items: center; gap: 0.5rem; flex-wrap: wrap;">
    <%= render :icon, name: commit.icon, alt: commit.kind %>
    <%= commit.subject %>
  </summary>

  <h4>Message</h4>

  <% if commit.body.empty? %>
    <p>No message.</p>
  <% else %>
    <%= commit.safe_body %>
  <% end %>

  <% unless commit.notes.empty? %>
    <details>
      <summary>Notes</summary>
      <%= commit.notes.html_safe %>
    </details>
  <% end %>

  <h4>Author</h4>

  <span style="display: inline-flex; align-items: center; gap: 0.5rem;">
    <%= render :avatar, name: commit.author.name, url: commit.avatar_url(commit.author) %>
    <%= render :profile, name: commit.author.name, url: commit.profile_url(commit.author) %>
  </span>

  <% if commit.collaborators.any? %>
    <h4>Collaborators</h4>

    <ul>
      <% commit.collaborators.each do |collaborator| %>
        <li style="display: inline-flex; align-items: center; gap: 0.5rem;">
          <%= render :avatar, name: collaborator.name, url: commit.avatar_url(collaborator) %>
          <%= render :profile, name: collaborator.name, url: commit.profile_url(collaborator) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if commit.signers.any? %>
    <h4>Signers</h4>

    <ul>
      <% commit.signers.each do |signer| %>
        <li style="display: inline-flex; align-items: center; gap: 0.5rem;">
          <%= render :avatar, name: signer.name, url: commit.avatar_url(signer) %>
          <%= render :profile, name: signer.name, url: commit.profile_url(signer) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h4>Details</h4>

  <ul>
    <li>Milestone: <%= commit.tag.capitalize %></li>
    <li>Signature: <%= commit.signature %></li>
    <li>Files: <a href="<%= commit.uri %>"><%= commit.files_changed %></a></li>

    <li>
      Lines:
      <span><%= commit.total_deletions %></span>
      <span>/</span>
      <span><%= commit.total_insertions %></span>
    </li>

    <li>Issue: <a href="<%= commit.issue.uri %>"><%= commit.issue.id %></a></li>
    <li>Review: <a href="<%= commit.review.uri %>"><%= commit.review.id %></a></li>
  </ul>

  <p>
    <em style="display: inline-flex; align-items: center; gap: 0.5rem; margin-top: 1rem;">
      <%= commit.datetime %>
    </em>
  </p>

  <hr/>
</details>
