<details>
  <summary style="display: inline-flex; align-items: center; gap: 0.5rem; flex-wrap: wrap;">
    <img src="https://alchemists.io/images/projects/milestoner/icons/<%= commit.icon %>.png"
         alt="<%= commit.kind %>"
         width="24"
         height="24"
         loading="lazy">
    <%= commit.subject %>
  </summary>

  <h4>Message</h4>
  <%= scope(:content, content: commit.safe_body).call %>

  <h4>Notes</h4>
  <%= scope(:content, content: commit.safe_notes).call %>

  <h4>Author</h4>

  <p><%= render :user, user: commit.author %></p>

  <h4>Collaborators</h4>
  <%= scope(:users, users: commit.collaborators).call %>

  <h4>Signers</h4>
  <%= scope(:users, users: commit.signers).call %>

  <h4>Details</h4>

  <ul>
    <li>Milestone: <%= commit.tag.capitalize %></li>
    <li>Signature: <%= commit.signature %></li>
    <li>Files: <a href="<%= commit.uri %>"><%= commit.files_changed %></a></li>

    <li>
      Lines:
      <span><%= commit.total_deletions %></span>
      <span>/</span>
      <span><%= commit.total_insertions %></span>
    </li>

    <li>Issue: <a href="<%= commit.issue.uri %>"><%= commit.issue.id %></a></li>
    <li>Review: <a href="<%= commit.review.uri %>"><%= commit.review.id %></a></li>
  </ul>

  <p>
    <em style="display: inline-flex; align-items: center; gap: 0.5rem; margin-top: 1rem;">
      <%= commit.datetime %>
    </em>
  </p>

  <hr/>
</details>
