<article class="milestone">
  <header class="header">
    <h1 class="title">
      <%= scope(:logo).call %>

      <a href="<%= project_uri_home %>" class="label"><%= project_label %></a>

      <% if tag.commits.any? %>
        <span class="version"><%= tag.version %></span>
      <% end %>
    </h1>

    <time datetime="<%= tag.committed_datetime %>" class="date"><%= tag.committed_date %></time>
  </header>

  <% if tag.empty? %>
    <p class="dormant"></p>
  <% else %>
    <section class="body" x-data="{open: false}">
      <div class="overview">
        <div class="owner">
          <%= render :user, user: tag.author %>
        </div>

        <%= scope(:tag_signature, tag:).call %>

        <div class="actions">
          <button class="button toggle" x-on:click="open = true">Expand</button>
          <button class="button toggle" x-on:click="open = false">Collapse</button>
        </div>
      </div>

      <div class="columns">
        <span class="label">Commit</span>
        <span class="label">Author</span>
        <span class="label">Files</span>
        <span class="label">Lines</span>
        <span class="label">Issue</span>
        <span class="label">Review</span>
      </div>

      <% tag.commits.each do |commit| %>
        <%= commit.render :commit %>
      <% end %>
    </section>
  <% end %>

  <footer class="footer">
    <p class="totals">
      <span class="commits"><%= tag.total_commits %>.</span>
      <span class="files"><%= tag.total_files %>.</span>
      <span class="deletions"><%= tag.total_deletions %>.</span>
      <span class="insertions"><%= tag.total_insertions %>.</span>
    </p>
  </footer>
</article>
