<section>
  <p style="display: flex; align-items: center; justify-content:center;">
    <img src="<%= project_uri_logo %>" alt="Logo" height=100 width=100>
  </p>

  <% if tag.empty? %>
    <p>All is quiet.</p>
  <% else %>
    <% tag.commits.each do |commit| %>
      <%= commit.render :commit %>
    <% end %>
  <% end %>

  <br/>
  <hr/>

  <p>
    <strong>
      <span><%= tag.total_commits %>.</span>
      <span><%= tag.total_files %>.</span>
      <span><%= tag.total_deletions %>.</span>
      <span><%= tag.total_insertions %>.</span>
    </strong>
  </p>
</section>
