<section class="milestones">
  <h1 class="title">
    <a href="<%= project_uri_home %>" class="label"><%= project_label %></a>
  </h1>

  <p>All versions adhere to the <a href="https://alchemists.io/articles/strict_semantic_versioning">Strict Semantic Versioning</a> as enforced with <a href="https://alchemists.io/projects/versionaire">Versionaire</a> and automated by <a href="<%= generator_uri %>"><%= generator_label %></a>. Briefly, this means:</p>

  <ul>
    <li><strong>Major</strong> (X.y.z): Incremented for any backwards incompatible public API changes.</li>
    <li><strong>Minor</strong> (x.Y.z): Incremented for new, backwards compatible, public API enhancements/fixes.</li>
    <li><strong>Patch</strong> (x.y.Z): Incremented for small, backwards compatible, bug fixes.</li>
  </ul>

  <div class="selection fragment">
    <label for="version" class="label">Version:</label>

    <select id="version"
            name="version"
            class="versions"
            hx-get=""
            hx-trigger="change"
            hx-select=".milestone"
            hx-target=".milestones"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-indicator=".spinner"
            hx-ext="select">

      <option value="" class="option">Select...</option>

      <% tags.each do |tag| %>
        <option value="<%= tag.version %>/" class="option">
          <%= tag.version %> (<%= tag.committed_date %>)
        </option>
      <% end %>
    </select>

    <div class="spinner htmx-indicator"></div>
  </div>
</section>
