<section>
  <% unless tag.empty? %>
    <p style="display: inline-flex; align-items: center; gap: 0.5rem; flex-wrap: wrap;">
      <%= render :user, user: tag.author %> | <%= tag.security %>
    </p>

    <% tag.commits.each do |commit| %>
      <%= commit.render :commit %>
    <% end %>
  <% end %>

  <p>
    <strong>
      <span><%= tag.total_commits %>.</span>
      <span><%= tag.total_files %>.</span>
      <span><%= tag.total_deletions %>.</span>
      <span><%= tag.total_insertions %>.</span>
    </strong>
  </p>
</section>
