<article class="milestone">
  <header class="header">
    <h1 class="title">
      <% if project_uri_logo %>
        <img src="<%= project_uri_logo %>" alt="Logo" width="30" height="30">
      <% end %>

      <a href="<%= project_uri_home %>" class="label"><%= project_label %></a>

      <% if commits.any? %>
        <span class="version"><%= project_version %></span>
      <% end %>
    </h1>

    <time datetime="<%= datetime %>" class="date"><%= date %></time>
  </header>

  <% if commits.empty? %>
    <p class="dormant"></p>
  <% else %>
    <section class="body" x-data="{open: false}">
      <div class="actions">
        <button class="toggle" x-on:click="open = true">Expand</button>
        <button class="toggle" x-on:click="open = false">Collapse</button>
      </div>

      <div class="columns">
        <span class="label">Commit</span>
        <span class="label">Author</span>
        <span class="label">Files</span>
        <span class="label">Lines</span>
        <span class="label">Issue</span>
        <span class="label">Review</span>
      </div>

      <% commits.each do |commit| %>
        <%= commit.render :commit %>
      <% end %>
    </section>
  <% end %>

  <footer class="footer">
    <p class="totals">
      <span class="commits"><%= total_commits %>.</span>
      <span class="files"><%= total_files %>.</span>
      <span class="deletions"><%= total_deletions %>.</span>
      <span class="insertions"><%= total_insertions %>.</span>
    </p>
  </footer>
</article>
