<article class="milestone">
  <header class="header">
    <% if tag.index? %>
      <div class="fragment">
        <a href="../"
           class="root"
           hx-get="../"
           hx-select=".milestones"
           hx-trigger="click, keyup[key=='v'] from:body"
           hx-target=".milestone"
           hx-swap="outerHTML"
           hx-push-url="true"
           hx-indicator=".index">
          Versions
        </a>

        <div class="index spinner htmx-indicator"></div>
      </div>
    <% end %>

    <h1 class="title">
      <a href="<%= project_uri_home %>" class="label">
        <%= project_label %>
      </a>

      <% if tag.commits.any? %>
        <span class="version"><%= tag.version %></span>
      <% end %>
    </h1>

    <time datetime="<%= tag.committed_datetime %>" class="date"><%= tag.committed_date %></time>
  </header>

  <button class="help" popovertarget="po-shortcuts">ℹ️</button>

  <div id="po-shortcuts" class="popover" popover="auto">
    <h2 class="label">Keyboard Shortcuts</h2>

    <ul class="shortcuts">
      <li class="shortcut"><kbd class="key">v</kbd>: View versions.</li>
      <li class="shortcut"><kbd class="key">TAB</kbd>: Move to next commit.</li>
      <li class="shortcut"><kbd class="key">⇧ + TAB</kbd>: Move to previous commit.</li>
      <li class="shortcut"><kbd class="key">ENTER</kbd>: Open or close a commit.</li>
      <li class="shortcut"><kbd class="key">←</kbd>: View previous version.</li>
      <li class="shortcut"><kbd class="key">→</kbd>: View next version.</li>
    </ul>
  </div>

  <% if tag.empty? %>
    <p class="dormant"></p>
  <% else %>
    <section class="body" x-data="{open: false}">
      <div class="overview">
        <div class="owner">
          <%= render :user, user: tag.author %>
        </div>

        <%= scope(:tag_signature, tag:).call %>

        <div class="actions">
          <button class="button toggle" x-on:click="open = true">Expand</button>
          <button class="button toggle" x-on:click="open = false">Collapse</button>
        </div>
      </div>

      <div class="columns">
        <span class="label">Commit</span>
        <span class="label">Author</span>
        <span class="label">Files</span>
        <span class="label">Lines</span>
        <span class="label">Issue</span>
        <span class="label">Review</span>
      </div>

      <% tag.commits.each do |commit| %>
        <%= commit.render :commit %>
      <% end %>
    </section>
  <% end %>

  <footer class="footer">
    <p class="totals">
      <span class="commits"><%= tag.total_commits %>.</span>
      <span class="files"><%= tag.total_files %>.</span>
      <span class="deletions"><%= tag.total_deletions %>.</span>
      <span class="insertions"><%= tag.total_insertions %>.</span>
    </p>

    <p class="totals">
      <span class="duration"><%= tag.total_duration %>.</span>
    </p>

    <section class="contributions">
      <p class="message">Thanks to all who contributed to this release:</p>
      <%= render "contributors", contributors: tag.contributors %>
    </section>

    <ul class="actions">
      <li class="fragment">
        <a href="../<%= past.version %>/"
           class="action"
           data-direction="previous"
           hx-get="../<%= past.version %>/"
           hx-select=".milestone"
           hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
           hx-target=".milestone"
           hx-swap="outerHTML"
           hx-push-url="true"
           hx-indicator=".previous">
          Previous
          (<%= past.version %>)
        </a>

        <div class="previous spinner htmx-indicator"></div>
      </li>

      <li class="fragment">
        <div class="next spinner htmx-indicator"></div>

        <a href="../<%= future.version %>/"
           class="action"
           data-direction="next"
           hx-get="../<%= future.version %>/"
           hx-select=".milestone"
           hx-trigger="click, keyup[key=='ArrowRight'] from:body"
           hx-target=".milestone"
           hx-swap="outerHTML"
           hx-push-url="true"
           hx-indicator=".next">
          Next
          (<%= future.version %>)
        </a>
      </li>
    </ul>
  </footer>
</article>
